#meet-start {
    background-image: linear-gradient(to bottom, #c2f2a0, #64aa10);
    color: #366868;
    border-color: #64aa10;
    max-width: 50px;
}

#meet-stop {
    display: none;
    background-image: linear-gradient(to bottom, #e1d256, #cab50e);
    border-color: #cab50e;
    color: #b75915;
    max-width: 50px;
}

.jitsi_start_button:before {
    content: "\f03d";
    font-family: FontAwesome;
    font-size: 1.5em;
}

.btn-download {
    min-width:150px;
}

.btn-download:hover {
    background-color: rgba(255,255,255,0.4);
    border: 1px solid #175e95;
}

.btn-download a {
    text-decoration: none;
}

.btn-download a:hover {
    text-decoration: none;
    color: #175e95;
}

.room {
    text-align: center;
    text-decoration-line: underline;
    color: rgb(71, 71, 71);
}

.meet-wrapper {
    min-height: 600px;
}

.jitsilayout {
    display: flex;
}

.jitsilayout:after {
    content: "";
    display: table;
    clear: both;
}

.meet-controls {
    background: #f5f5f5;
    padding: 10px;
    width: 20%;
    order: 1;
}

.jitsilayout-embed {
    display: flex;
    height: 100%;   
    overflow: hidden;
    margin: 0px;  
    box-sizing: border-box;
}

.jitsilayout-column {
    height: 100%;
    display: flex;
    flex-direction: column;  
}

#jitsileft {
    flex-shrink: 0; 
}

.meet-controls-top-left{
    flex-shink: 0;
}

#jitsiright {
    flex: 1 1 auto;
}

.meet-controls-top-right {
    flex-shrink: 0;
    display: inline-flex;
}

.meet-controls-bottom {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

#on-meet-controls {
    display: none;
}

#off-meet-controls {
    padding-top: 15px;
    padding-right: 5px;

}

#off-meet-controls  ul {
    list-style: none;
}

#off-meet-controls  ul>li {
    padding-top: 5px;
    cursor: pointer;
}

.meet-video {
    order: 2;
    flex-grow: 2;
    background-color: #f5f5f5;
    min-height: 500px;
}

.meet-video-embed {
    order: 1;
    flex-grow: 2;
    background-color: #f5f5f5;
    min-height: 500px;
}

.meet-controls .button {
    margin: 5px 0;
}

.meet-controls input[type="button"],.meet-controls-embed input[type="button"] {
    font-size: 0.9em;
}

.meet-controls input {
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: rgb(71, 71, 71);
    background: whitesmoke;
    font-size: 0.9em;
}

.meet-controls-embed input {
    width: auto;
    border-width: 0 0 1px 0;
    border-color: rgb(71, 71, 71);
    background: whitesmoke;
    font-size: 0.9em;
}

#timestamp {
    position: relative;
    font-size: x-large;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 460px) { 
    #timestamp {
        font-size: large;
    }
}
.meetred {
    color: indianred;
}
.copylink:before {
    content: "\f0c5";
    font-family: FontAwesome;
    font-size: 1em;
    cursor: copy;
}

.meet-chat:before {
    content: "\f0e5";
    font-family: FontAwesome;
    font-size: 1.2em;
    cursor: pointer;
}

.meet-film:before {
    content: "\f008";
    font-family: FontAwesome;
    font-size: 1.1em;
    cursor: pointer;
}

.meet-mute:before {
    content: "\f130";
    font-family: FontAwesome;
    font-size: 1.2em;
    cursor: pointer;
}

