<p>{{ items.button|raw }}</p>

<p>{{ items.form }}</p>

<details class="container-inline js-form-wrapper form-wrapper" >    
    <summary role="button" aria-controls="edit-filters" aria-expanded="false" aria-pressed="false">Phone applications</summary>
    <div class="details-wrapper">

        <p><a href="https://jitsi.org/" target="_blank">Built with Jitsi</a></p>

        <p style="text-align: left;">
            <button class="btn-download">
                <a href="https://apps.apple.com/us/app/jitsi-meet/id1165103905" target="_blank" rel="noopener">
                App Store <img decoding="async" loading="lazy" alt="" width="29" height="35" 
                data-src="https://jitsi.org/wp-content/uploads/2020/04/download-apple.png" 
                class=" lazyloaded" src="https://jitsi.org/wp-content/uploads/2020/04/download-apple.png"><noscript>
                <img decoding="async" loading="lazy" src="https://jitsi.org/wp-content/uploads/2020/04/download-apple.png" alt="" width="29" height="35" /></noscript></a><br>
            </button>
        </p>
        <p style="text-align: left;">
            <button class="btn-download">
                <a href="https://play.google.com/store/apps/details?id=org.jitsi.meet" target="_blank" rel="noopener">
                Google Play 
                <img decoding="async" loading="lazy" alt="" width="35" height="35" 
                data-src="https://jitsi.org/wp-content/uploads/2020/04/35-google-play-icon.png" 
                class=" lazyloaded" src="https://jitsi.org/wp-content/uploads/2020/04/35-google-play-icon.png"><noscript>
                <img decoding="async" loading="lazy" src="https://jitsi.org/wp-content/uploads/2020/04/35-google-play-icon.png" alt="" width="35" height="35" /></noscript></a><br>
            </button>
        </p>
        <p style="text-align: left;">
            <button class="btn-download"> 
                <a href="https://f-droid.org/en/packages/org.jitsi.meet/" target="_blank" rel="noopener">
                F-Droid 
                <img decoding="async" loading="lazy" alt="" width="35" height="35" 
                data-src="https://jitsi.org/wp-content/uploads/2020/04/35-FDroid-icon-blue.png" 
                class="alignnone size-full wp-image-1777 lazyloaded" src="https://jitsi.org/wp-content/uploads/2020/04/35-FDroid-icon-blue.png"><noscript><img decoding="async" loading="lazy" class="alignnone size-full wp-image-1777" src="https://jitsi.org/wp-content/uploads/2020/04/35-FDroid-icon-blue.png" alt="" width="35" height="35" /></noscript></a><br>
            </button>
        </p>

    </div>
</details>

