<div class='meet-wrapper'>

    <div class='jitsilayout-embed'>            
        <div id="jitsileft" class="jitsilayout-column">
            <div class="meet-controls-top-left">
                &nbsp
            </div>
            <div class="meet-controls-bottom">
                <div id='off-meet-controls'>
                    <ul>
                        <li id='meet-chat'><span class='meet-chat'>  {{ 'chat'|trans }}</span></li>
                        <li id='meet-mute'><span class='meet-mute'>  {{ 'mute'|trans }}</span></li>
                        <li id='meet-film'><span class='meet-film'>  {{ 'film'|trans }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="jitsiright" class="jitsilayout-column">
            <div class="meet-controls-top-right">
                <div id='on-meet-controls' style="display:flex;">
                    <input type="text" placeholder='{{ user }}' id="staticName">
                    <div class='button' id='set-name'>{{ 'Set name'|trans }}</div>
                    
                    {%  if link_external %}
                        <div>{{ link_external }}&nbsp<span title="{{ 'copy'|trans }}" class="copylink"></span></div>
                    {% endif %}

                </div>
            </div>
            <div class="meet-controls-bottom">
                <div class="meet-video-embed" id='meet'>
                    <!--<div id="timestamp-container">-->
                        <div id="timestamp"></div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>

